.body {
  background-color: #edf0f2;
}
/* navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.nav {
  display: flex;
  max-width: 747.5px;
  width: 100%;
  justify-content: space-between;
  padding-right: 51px;
  align-items: center;
}
.eng {
  font-size: 17px;
}
.nav-head {
  color: black;
  font-size: 35px;
  padding-left: 230px;
}
.nav-a {
  color: black;
  font-size: 17px;
}
.fa-user-circle {
  font-size: 30px;
}
.search {
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background-color: #e4003b;
  border-radius: 50px;
}
.divider {
  width: 1px;
  height: 37px;
  background-color: #a4a6a8;
}
.active {
  color: #e4003b;
}

/* section1 */

.sec1-text {
  max-width: 409px;
  width: 100%;
  margin-top: 180px;
  margin-right: 50px;
}
.bg-img {
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1174px;
  width: 100%;
  height: 808px;
  margin-top: 56px;
}
.text-wrapper {
  display: flex;
}
.section1 {
  display: flex;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.text1 {
  writing-mode: vertical-lr;
  font-size: 55px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
.text2 {
  font-size: 156px;
  color: #e4003b;
}
.text2-div {
  display: flex;
  flex-direction: column;
}
.text3 {
  max-width: 285px;
  width: 100%;
  padding-left: 47px;
}
.number-wraper {
  margin-top: 270px;
  margin-left: 43px;
  display: flex;
  flex-direction: column;
}
.n01 {
  font-size: 60px;
  margin-bottom: 20px;
}
.divider2 {
  width: 70;
  height: 2px;
  background-color: #e4003b;
}
.n02 {
  font-size: 17px;
  margin-top: 38px;
  margin-bottom: 36px;
}
.n03 {
  font-size: 17px;
}
.explorebox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 250px;
    height: 60px;
    background-color: #e4003b;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 30px;
}

/* footer */
